* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
.display {
  background-color: #eee;
  display: flex;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
}
.display > div {
  margin: 5px;
}
.index,
.time {
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  width: 100px;
}